.btn-info {
	background-color: deeppink;
	border-color: deeppink;
}
.btn-info:hover {
	background-color: indigo;
	border-color: indigo;
}
.btn-info:focus {
	background-color: deeppink !important;
	border-color: deeppink;
}
.jumbotron {
background-image: url("../images/bw2intech1024.jpg");
color: #EAD8ED;
background-size: cover;}

